// WordPress colors
// https://make.wordpress.org/design/handbook/design-guide/foundations/colors/

// Blues
$wordpressBlue: #0073AA;
$mediumBlue: #00A0D2;

// Grays
$ultraDarkGray: #191E23;
$darkGray: #23282D;
$baseGray: #32373C;
$darkSilverGray: #82878C;
$silverGray: #A0A5AA;
$lightSilverGray: #B4B9BE;

// Auxiliary Hues
$accentRed: #DC3232;
$accentOrange: #F56E28;
$accentYellow: #FFB900;
$accentGreen: #46B450;
$accentPurple: #826EB4;

// Main menu colors
$main-menu-background-color: $darkGray;
$main-menu-link-color: #eee;
