/* Open Sans fonts are now loaded locally from opensans-local.scss */
/* Old Google Fonts import removed to avoid external dependencies */
/* @import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700); */
$font-family-sans-serif: "Open Sans", serif;
